@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



body {
    font-size: 2vw; /* Tamanho de fonte base responsivo */
    width: 100vw;

}

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    /* Works on Firefox */
    scrollbar-width: thin;
    scrollbar-color: #01b3b3 #d0eae3;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #d0eae3;
}

*::-webkit-scrollbar-thumb {
    background-color: #01b3b3;
    border-radius: 20px;
    border: 3px solid #d0eae3;
}

html {
    scroll-padding-top: 12.5vh;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins';
    font-size: 17px;
    color: #000000;
    overflow-x: hidden;
}

section{
    width: 90%;
    padding: 0 5%;
    margin-bottom: 100px;
    overflow: hidden;
}

#inicial{
    height: 100vh;
    background-image: linear-gradient(180deg, #00CCCD 2.62%, #53EFC3 42.93%, rgba(93, 244, 194, 0.00) 100%);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    width: 100vw;
    padding: 15px 0 15px 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    transition: 0.5s linear;
}

header.ativa {
    background-color: #22DAC9;
    opacity: 0.95;
    box-shadow: 2px 2px 4px #d0eae3;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.menu{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.menu .logo{
    display: flex;
    align-items: center;
    font-size: 21px;
    gap: 5px;
}

.menu .nav-list{
    display: flex;
    list-style: none;
    gap: 25px;
}

a{
    text-decoration: none;
}

.menu a{
    color: #ffffff;
    transition: 0.5s ease-in-out;
    position: relative;
}

.menu .nav-list a:hover{
    color: #015656;
}

.menu .nav-list a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #015656;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.menu .nav-list a:hover::after{
    width: 100%;
}

h1{
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
}

#inicial .slogan{
    height: 318px;
}

#inicial .slogan button{
    width: 300px;
    padding: 4px;
    background-color: #015656;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
}

#inicial .slogan button img{
    width: 30px;
    animation: up-down 1.5s infinite alternate;
}

@keyframes up-down {
    from {
        transform: translateY(-4px);
    }

    to {
        transform: translateY(0);
    }
}

#inicial .slogan button:hover{
    font-size: 26px;
    box-shadow: 2px 2px 6px #000000;
}

h2{
    font-size: 30px;
    position: relative;
    z-index: 1;
}

p{
    font-size: 22px;
}

h3{
    font-size: 20px;
}

#sobre-nos{
    display: flex;
    gap: 100px;
    margin-bottom: 150px;
}

.subtitulo{
    width: fit-content;
    text-align: center;
    padding: 5px;
    margin-bottom: 35px;
     position: relative;
}

.subtitulo .line-paralelograma{
    width: 105%;
    height: 8px;
    -webkit-transform: skew(-40deg);
    -moz-transform: skew(-40deg);
    -o-transform: skew(-40deg);
    background-color: #53EFC3;
    filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.25));
    margin-top: -11px;
    margin-left: -5px;
    z-index: -1;
}

#servicos .subtitulo, #equipe .subtitulo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#servicos .cards-servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 50px;
}

#servicos .cards-servicos .card-servico{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 15px;
}

#projeto{
    background: rgba(89, 131, 146, 0.60);
    padding-top: 50px;
    padding-bottom: 50px;
}

#projeto .subtitulo h2{
    color: #EFF6E0;
    position: relative;
    z-index: 1;
}

#projeto .subtitulo .line-paralelograma{
    background-color: #124559;
}

#projeto p{
    font-size: 17px;
}

#projeto .div-img-beneficios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

#projeto .cards-beneficios{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#projeto .cards-beneficios .card-beneficio-project{
    width: 500px;
    height: 80px;
    padding: 10px 10px 10px 15px;
    background-color: #124559;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    color: #ffffff;
}


#equipe .cards-equipe{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px 0;
}

#equipe .cards-equipe .card-equipe{
    background-color: #53EFC3;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


#equipe .cards-equipe .card-equipe .info-integrantes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-integrantes span{
    font-size: 16px;
    color: #3D3D3D;
}

#equipe .cards-equipe .card-equipe .redes-sociais{
    display: flex;
    gap: 5px;
}

#equipe .cards-equipe .card-equipe .redes-sociais a:hover{
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
}

#contato{
    margin: 0;
    margin-top: 150px;
    padding-bottom: 25px;
    background-image: linear-gradient(180deg, rgba(93, 244, 194, 0.00) 0%, #53EFC3 42.93%, #00CCCD 100%);
}

#contato a{
    color: #000000;
}

#contato .info-contatos{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

#contato .info-contatos .icon-info-contato{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

#contato .msg-footer{
    color: #d4d4d4;
    opacity: 0.9;
    text-align: center;
    margin-top: 50px;
}

/* ... (seus estilos padrão) ... */

/* Layout responsivo para telas menores */


/* Layout específico para celulares (até 480px) */


@media (max-width: 480px) {
    body {
        width: 100vw;
        margin: 0; /* Remover margens padrão */
        padding: 0; /* Remover preenchimentos padrão */
        overflow-x: hidden; 
        text-align: center;
    }

    header {
        padding: 10px 0;
    }

    .menu {
        padding: 10px;
    }

    .menu .logo {
        font-size: 18px;
    }

    .menu .nav-list a {
        font-size: 14px;
    }

    .subtitulo .line-paralelograma {
        margin-top: -8px;
    }

    #inicial .slogan button {
        font-size: 18px;
        padding: 8px;
        margin-left: auto;
        margin-right: auto;
    }

    section{
        margin-bottom: 80px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    .subtitulo{
        margin-left: auto;
        margin-right: auto;
    }

    #servicos .cards-servicos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;
    }

    #servicos .cards-servicos .card-servico {
        width: 220px;
    }

    #projeto .div-img-beneficios img {
        width: 90%; 
    }

    .cards-servicos{
        flex-direction: column;
        
    }

    #image_icon img, #img_contato {
        display: none;
    }

    #projeto .div-img-beneficios{
        flex-direction: column;
    }

   
    .info-contatos  {
        flex-direction: column;
    }

    .info-contatos img:icon de contato {
        width: 20vw;
    }



    #projeto .cards-beneficios .card-beneficio-project {
        width: 95%;
        height: 85px;
        text-align: left;
    }

    #projeto .cards-beneficios .card-beneficio-project p{
        font-size: 14.5px;
    }
    

    #projeto .cards-beneficios .card-beneficio-project img {
      width: 50px;
    }
    #sobre-nos {
        flex-direction: column;
        gap: 50px;
    }

    #contato .info-contatos .icon-info-contato {
        flex-direction: column;
    }

    #contato .info-contatos .icon-info-contato p {
        font-size: 15px;
    }

    
    #contato .info-contatos .icon-info-contato img {
       width: 10%;
    }

    
}

/**/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #EFF6E0;
    width: 100%;
    top: 70px;
    z-index: 1;
}

.dropdown-nav-list {
    list-style: none;
    /* padding: 20px; */
}

@media (max-width: 768px) {

    .menu .nav-list {
        display: none;
    }
    
    .hamburger {
        display: flex;
    }
    
    .dropdown.active {
        display: block;
    }

    .dropdown-nav-list li{
        border: solid 1px;
        padding: 10px;
    }

    .dropdown-nav-list a{
        color: #000000;
        /* background-color: #00CCCD; */
        width: 100%;
    }
}

